#dd
{
    margin-top:10px;
    width:700px;
    margin-left:400px;
    height:3px;
    background-color:gainsboro;
}
.rod1
{
    display: flex;
}
.kartinFa
{
  margin-left: 70px;
  margin-top: 20px;
}
#ddd
{
    height:566px;
    width:100%;
    text-align:center;
    background: linear-gradient(180deg, #04A5FF, #8D6AF0);
}
#dd2
{
    margin-top:20px;
    width:600px;
    margin-left:457px;
    height:3px;
    background-color:rgb(0, 0, 0);
}
.txtt
{
    font-family: 'Kodchasan', sans-serif;
    font-weight:bolder;
}
.txttt
{
    font-family: 'Kodchasan', sans-serif;
    font-weight: lighter;
    margin-top:50px;
    font-size:30px;
    text-align:left;
    padding-left: 100px;
}
.diver1
{
    height:40px;
    width:236px;
    margin-left:100px;
    margin-top:30px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diver2
{
    height:40px;
    width:236px;
    margin-left:100px;
    margin-top:10px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divertxt
{
    margin-top: 10px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bolder;
    font-size:15px;
}
.kartina
{
    width: 50%;
    height: 50%;
    margin-left:570px;
    margin-top:-225px;
}
.ggf
{
    font-family: 'Kodchasan', sans-serif;
    display:flex;
    justify-content: center;
    font-size:25px;
}
.ggf2
{
    font-family: 'Kodchasan', sans-serif;
    font-size:25px;
}
.ggf3
{
    font-family: 'Kodchasan', sans-serif;
    font-size:25px;
}
.ggf4
{
    font-family: 'Kodchasan', sans-serif;
    font-size:25px;
}
.fut
{
    display:flex;
    justify-content: space-around;
    
}
@media (max-width:937px) 
{
    .txttt
    {
        font-size: 25px;
    } 
    .kartinFa
    {
        width: 300px;
        height: 200px;
    }
    .diver1
    {
        height:30px;
        width:231px;
    }
    .diver2
    {
        height:30px;
        width:231px;
    }
    .kartinFa
    {
        margin-top: 50px;
    }
}
@media (max-width:757px) 
{
    .txttt
    {
        font-size: 22px;
    } 
    .kartinFa
    {
        width: 250px;
        height: 150px;
    }
    .diver1
    {
        height:25px;
        width:210px;
    }
    .diver2
    {
        height:25px;
        width:210px;
    }
    .divertxt
    {
        font-size: 13px;
    }
    .ggf
    {
        font-size: 20px;
    }
    .ggf2
    {
        font-size: 20px;
    }
    .ggf3
    {
        font-size: 20px;
    }
    .ggf4   
    {
        font-size: 20px;
    }
    .kartinFa
    {
        margin-top: 100px;
    }
}
@media (max-width:652px) 
{
   .rod1
   {
     flex-direction: column;
   }
   .kartinFa
   {
    margin-top: -5px; 
   }
   .diver1
   {
    margin: 0 auto;
    
   }
   .diver2
   {
    margin: 0 auto;
    margin-top: 10px;
   }
   .fut
   {
    flex-direction: column;
    align-items: center;
   }
}
@media (max-width:408px) 
{
   .rod1
   {
     flex-direction: column;
   }
   .txttt
   {
     font-size: 19px;
   }
   .kartinFa
   {
    margin-top: -5px; 
   }
   .diver1
   {
    margin: 0 auto;
    
   }
   .diver2
   {
    margin: 0 auto;
    margin-top: 10px;
   }
   .fut
   {
    flex-direction: column;
    align-items: center;
   }
   .ggf
   {
    font-size: 18px;
   }
   .ggf2
   {
    font-size: 18px;
   }
   .ggf3
   {
    font-size: 18px;
   }
   .ggf4
   {
    font-size: 18px;
   }

}